<?xml version="1.0" encoding="utf-8" ?>

<!--
This is a configuration file for LocalForwarder.
-->
<LocalForwarderConfiguration>

  <!--
  Inputs are used to listen to incoming data streams.
  -->
  <Inputs>

    <!--
    Application Insights input is used to receive data from certain AI SDKs.
    -->
    <ApplicationInsightsInput Enabled="true">
      <Host>0.0.0.0</Host>
      <Port>50001</Port>
    </ApplicationInsightsInput>

    <!--
    OpenCensus input is used to receive data from OpenCensus SDKs.
    -->
    <OpenCensusInput Enabled="true">
      <Host>0.0.0.0</Host>
      <Port>55678</Port>
    </OpenCensusInput>

  </Inputs>

  <!--
    Describes aspects of routing OpenCensus data to Application Insights.
    -->
  <OpenCensusToApplicationInsights>
    <!--
      Instrumentation key to track telemetry to.
      -->
    <InstrumentationKey>4df3604d-163b-4467-948e-4a55001c5813</InstrumentationKey>
  </OpenCensusToApplicationInsights>

  <!-- Describes aspects of processing Application Insights telemetry-->
  <ApplicationInsights>
    <LiveMetricsStreamInstrumentationKey>4df3604d-163b-4467-948e-4a55001c5813</LiveMetricsStreamInstrumentationKey>
    <LiveMetricsStreamAuthenticationApiKey>jam0mx2ipg3r0wyevz7bcml3z506f0o2oa85l2wv</LiveMetricsStreamAuthenticationApiKey>
    <AdaptiveSampling Enabled="true">
      <MaxEventsPerSecond>10000</MaxEventsPerSecond>
      <!--Telemetry items other than events are counted together-->
      <MaxOtherItemsPerSecond>%APPINSIGHTS_ADAPTIVESAMPLINGNONEVENTSLIMIT%</MaxOtherItemsPerSecond>
    </AdaptiveSampling>
  </ApplicationInsights>

</LocalForwarderConfiguration>
